@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
.codity_io--chat-btn {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    width: 60px;
    height: 60px;
    background: #0080ff;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    color: #fff;
    cursor: pointer;
    /* TODO: Text should not be selectable */
    bottom: 30px;
    right: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.codity_io--chat-btn.left {
    right: auto;
    left: 30px;
}
.codity_io--chat-btn span {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 50%;
    font-weight: 100;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transform-origin: center;
    transition: all 0.2s;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.codity_io--chat-btn span.close-me {
    transition: all 0.2s;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}
#codity_io--chat-box {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    display: none;
    width: 350px;
    height: 500px;
    position: fixed;
    z-index: 9999999;
    bottom: 100px;
    right: 30px;
    background: #fff;
    box-shadow :0 4px 4px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    #codity_io--chat-box {
        width: 100%;
        right: 0;
    }
}
#codity_io--chat-box.open {
    display: block;
}
#codity_io--chat-box .header {
    min-height: 40px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 2px solid #eee;
    color: #666;
}
#codity_io--chat-box .header .waiting {
    color: #999;
    font-size: 12px;
}
#codity_io--chat-box .header .is-online {
    color: #207126;
}
