.chat-input .content {
    height: 390px;
    border-bottom: 2px solid #ddd;
    overflow-y: scroll;
}
.chat-input .content .chat-txt {
    margin: 20px 0;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}
.chat-input .content .chat-txt div {
    min-width: 10px;
    border-radius: 3px;
    padding: 10px;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    display: block;
    max-width: 73%;
    position: relative;
}
.codity-chat-block {
    padding-bottom: 10px;
    display: block;
}
.codity-chat-block:before {
    content: '';
    display: table;
}

.codity-chat-block:after {
    content: '';
    display: table;
    clear: both;
}
.chat-input .content .chat-txt.server div {
    background: #eee;
    color: #333;
     float: left;
}
.chat-input .content .chat-txt.client div {
    background: #0080ff;
    color: #fff;
    float: right;
}
.chat-input .actions {
    height: 50px;
    position: relative;
    display: flex;
    background: #ddd;
    margin: 0;
    padding: 0;
}
.chat-input .actions .input-message {
    flex: 1;
    position: relative;
}
.chat-input .actions .input-message input {
    color: #000;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
}
.chat-input .actions .send-message {
    flex: 40px 0 0;
    background: #fff;
    line-height: 64px;
}
.chat-input .actions .send-message * {
    cursor: pointer;
}